In [226]:
pip install xgboost

Collecting xgboost
  Downloading xgboost-2.1.3-py3-none-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: numpy in c:\users\adith\anaconda3\lib\site-packages (from xgboost) (1.26.4)
Requirement already satisfied: scipy in c:\users\adith\anaconda3\lib\site-packages (from xgboost) (1.13.1)
Downloading xgboost-2.1.3-py3-none-win_amd64.whl (124.9 MB)
   ---------------------------------------- 0.0/124.9 MB ? eta -:--:--
   - -------------------------------------- 4.5/124.9 MB 24.5 MB/s eta 0:00:05
   --- ------------------------------------ 11.8/124.9 MB 30.8 MB/s eta 0:00:04
   ----- ---------------------------------- 18.1/124.9 MB 33.6 MB/s eta 0:00:04
   -------- ------------------------------- 26.2/124.9 MB 32.6 MB/s eta 0:00:04
   ---------- ----------------------------- 32.0/124.9 MB 32.2 MB/s eta 0:00:03
   ------------ --------------------------- 39.6/124.9 MB 32.7 MB/s eta 0:00:03
   -------------- ------------------------- 46.4/124.9 MB 32.8 MB/s eta 0:00:03
   ---------------- ----------------------- 52.4/124.9 MB 32.4 MB/s eta 0:00:03
   ------------------ --------------------- 57.9/124.9 MB 31.8 MB/s eta 0:00:03
   ------------------- -------------------- 62.4/124.9 MB 30.6 MB/s eta 0:00:03
   --------------------- ------------------ 66.6/124.9 MB 29.7 MB/s eta 0:00:02
   ---------------------- ----------------- 70.5/124.9 MB 28.8 MB/s eta 0:00:02
   ------------------------ --------------- 75.0/124.9 MB 28.3 MB/s eta 0:00:02
   ------------------------- -------------- 79.4/124.9 MB 27.8 MB/s eta 0:00:02
   -------------------------- ------------- 83.4/124.9 MB 27.3 MB/s eta 0:00:02
   ---------------------------- ----------- 88.6/124.9 MB 27.2 MB/s eta 0:00:02
   ----------------------------- ---------- 93.6/124.9 MB 27.0 MB/s eta 0:00:02
   ------------------------------- -------- 97.3/124.9 MB 26.4 MB/s eta 0:00:02
   ------------------------------- ------- 101.4/124.9 MB 26.1 MB/s eta 0:00:01
   --------------------------------- ----- 105.9/124.9 MB 25.9 MB/s eta 0:00:01
   ---------------------------------- ---- 110.9/124.9 MB 25.8 MB/s eta 0:00:01
   ------------------------------------ -- 116.1/124.9 MB 25.8 MB/s eta 0:00:01
   ------------------------------------- - 121.1/124.9 MB 25.7 MB/s eta 0:00:01
   --------------------------------------  124.8/124.9 MB 25.5 MB/s eta 0:00:01
   --------------------------------------- 124.9/124.9 MB 24.4 MB/s eta 0:00:00
Installing collected packages: xgboost
Successfully installed xgboost-2.1.3
Note: you may need to restart the kernel to use updated packages.

In [228]:
#importing the libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
import math
import warnings

In [2]:
warnings.filterwarnings('ignore')

In [3]:
pip install imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\adith\anaconda3\lib\site-packages (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\adith\anaconda3\lib\site-packages (from imbalanced-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\adith\anaconda3\lib\site-packages (from imbalanced-learn) (1.13.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\adith\anaconda3\lib\site-packages (from imbalanced-learn) (1.5.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\adith\anaconda3\lib\site-packages (from imbalanced-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\adith\anaconda3\lib\site-packages (from imbalanced-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from imblearn.over_sampling import SMOTE

In [5]:
#reading the dataset
input_df = pd.read_csv('C:\Adithya\Python\Machine_Learning\Credit_Risk_Analytics\credit_risk_dataset.csv')
input_df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [6]:
#last 5 rows in the dataset
input_df.tail()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [7]:
#shape of the dataset
input_df.shape

(32581, 12)

In [8]:
#statistical description
input_df.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,32581.000000,3.258100e+04,31686.000000,32581.000000,29465.000000,32581.000000,32581.000000,32581.000000
mean,27.734600,6.607485e+04,4.789686,9589.371106,11.011695,0.218164,0.170203,5.804211
std,6.348078,6.198312e+04,4.142630,6322.086646,3.240459,0.413006,0.106782,4.055001
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.850000e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.500000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,7.920000e+04,7.000000,12200.000000,13.470000,0.000000,0.230000,8.000000
max,144.000000,6.000000e+06,123.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [9]:
#datatypes of the df
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

In [10]:
#checking the numerical columns
input_df.select_dtypes('number')

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
0,22,59000,123.0,35000,16.02,1,0.59,3
1,21,9600,5.0,1000,11.14,0,0.10,2
2,25,9600,1.0,5500,12.87,1,0.57,3
3,23,65500,4.0,35000,15.23,1,0.53,2
4,24,54400,8.0,35000,14.27,1,0.55,4
...,...,...,...,...,...,...,...,...
32576,57,53000,1.0,5800,13.16,0,0.11,30
32577,54,120000,4.0,17625,7.49,0,0.15,19
32578,65,76000,3.0,35000,10.99,1,0.46,28
32579,56,150000,5.0,15000,11.48,0,0.10,26
32580,66,42000,2.0,6475,9.99,0,0.15,30

In [11]:
#checking the categorical columns
input_df.select_dtypes('object')

,person_home_ownership,loan_intent,loan_grade,cb_person_default_on_file
0,RENT,PERSONAL,D,Y
1,OWN,EDUCATION,B,N
2,MORTGAGE,MEDICAL,C,N
3,RENT,MEDICAL,C,N
4,RENT,MEDICAL,C,Y
...,...,...,...,...
32576,MORTGAGE,PERSONAL,C,N
32577,MORTGAGE,PERSONAL,A,N
32578,RENT,HOMEIMPROVEMENT,B,N
32579,MORTGAGE,PERSONAL,B,N
32580,RENT,MEDICAL,B,N

In [12]:
#creating a copy of the dataset
input_df_copy = input_df
input_df_copy.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [13]:
#checking the values in persons age
input_df['person_age'].value_counts().sort_values(ascending=True)

person_age
67        1
78        1
94        1
76        1
84        1
80        1
123       2
63        3
73        3
144       3
69        5
59        5
62        7
64        7
70        7
65        9
66        9
61        9
60       15
20       15
57       15
56       15
58       19
55       20
54       24
53       30
52       36
51       39
49       49
50       52
48       75
47       94
46       94
45      108
44      141
43      164
42      188
41      241
40      271
39      302
38      373
37      478
36      548
35      620
34      709
33      856
32      964
31     1142
21     1229
30     1316
29     1687
28     1854
27     2138
26     2477
25     3037
24     3549
22     3633
23     3889
Name: count, dtype: int64

In [14]:
#creating a pivot table to find the values for abnormal age
input_df.pivot_table(index='person_age',columns='loan_status',values='person_income',aggfunc='count').sort_values(by='person_age',ascending=False)

loan_status       0      1
person_age
144             3.0    NaN
123             2.0    NaN
94              1.0    NaN
84              1.0    NaN
80              1.0    NaN
78              1.0    NaN
76              1.0    NaN
73              3.0    NaN
70              5.0    2.0
69              5.0    NaN
67              1.0    NaN
66              6.0    3.0
65              6.0    3.0
64              6.0    1.0
63              2.0    1.0
62              4.0    3.0
61              5.0    4.0
60              8.0    7.0
59              5.0    NaN
58             16.0    3.0
57             11.0    4.0
56             14.0    1.0
55             13.0    7.0
54             17.0    7.0
53             23.0    7.0
52             24.0   12.0
51             31.0    8.0
50             40.0   12.0
49             37.0   12.0
48             55.0   20.0
47             79.0   15.0
46             82.0   12.0
45             81.0   27.0
44            114.0   27.0
43            135.0   29.0
42            138.0   50.0
41            199.0   42.0
40            214.0   57.0
39            233.0   69.0
38            311.0   62.0
37            381.0   97.0
36            425.0  123.0
35            492.0  128.0
34            570.0  139.0
33            683.0  173.0
32            771.0  193.0
31            907.0  235.0
30           1056.0  260.0
29           1344.0  343.0
28           1440.0  414.0
27           1694.0  444.0
26           1960.0  517.0
25           2362.0  675.0
24           2780.0  769.0
23           3056.0  833.0
22           2749.0  884.0
21            857.0  372.0
20             13.0    2.0

In [15]:
#removing all the age values below 70
cr_age_rm = input_df[input_df['person_age'] <= 70]
cr_age_rm.reset_index(drop=True,inplace=True)
cr_age_rm.shape

(32568, 12)

In [16]:
#creating a pivot table to find the values for employment length
input_df.pivot_table(index='person_emp_length',columns='loan_status',values='person_income',aggfunc='count').sort_values(by='person_emp_length',ascending=False)

loan_status             0       1
person_emp_length
123.0                 1.0     1.0
41.0                  1.0     NaN
38.0                  1.0     NaN
34.0                  NaN     1.0
31.0                  4.0     NaN
30.0                  1.0     1.0
29.0                  NaN     1.0
28.0                  3.0     NaN
27.0                  4.0     1.0
26.0                  5.0     1.0
25.0                  8.0     NaN
24.0                  7.0     3.0
23.0                  7.0     3.0
22.0                 16.0     3.0
21.0                 28.0    10.0
20.0                 29.0    13.0
19.0                 55.0     9.0
18.0                 93.0    11.0
17.0                107.0    22.0
16.0                145.0    20.0
15.0                195.0    43.0
14.0                279.0    56.0
13.0                375.0    51.0
12.0                485.0    90.0
11.0                604.0   136.0
10.0                577.0   119.0
9.0                1123.0   244.0
8.0                1406.0   281.0
7.0                1784.0   412.0
6.0                2166.0   500.0
5.0                2398.0   548.0
4.0                2264.0   610.0
3.0                2760.0   696.0
2.0                2862.0   987.0
1.0                2109.0   806.0
0.0                2958.0  1147.0

In [17]:
#removing all the records with employment length greater than 47 (asuumption is min age of employment is 18 and max age of
#employment in 65 - 47 years of employment)
emp_rm = cr_age_rm[cr_age_rm['person_emp_length']<=47]
emp_rm.reset_index(drop=True,inplace=True)
emp_rm.shape

(31671, 12)

In [18]:
emp_rm.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,31671.000000,3.167100e+04,31671.000000,31671.000000,28626.000000,31671.000000,31671.000000,31671.000000
mean,27.717754,6.649231e+04,4.780714,9660.637492,11.040070,0.215497,0.169621,5.804395
std,6.159859,5.277413e+04,4.028718,6334.716643,3.229507,0.411173,0.106275,4.048776
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.936600e+04,2.000000,5000.000000,7.900000,0.000000,0.090000,3.000000
50%,26.000000,5.600000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,8.000000e+04,7.000000,12500.000000,13.480000,0.000000,0.230000,8.000000
max,70.000000,2.039784e+06,38.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [19]:
#checking for null values
emp_rm.isnull().sum()

person_age                       0
person_income                    0
person_home_ownership            0
person_emp_length                0
loan_intent                      0
loan_grade                       0
loan_amnt                        0
loan_int_rate                 3045
loan_status                      0
loan_percent_income              0
cb_person_default_on_file        0
cb_person_cred_hist_length       0
dtype: int64

In [20]:
#checking for the descriptive statistics of loan interest rate
emp_rm['loan_int_rate'].describe()

count    28626.000000
mean        11.040070
std          3.229507
min          5.420000
25%          7.900000
50%         10.990000
75%         13.480000
max         23.220000
Name: loan_int_rate, dtype: float64

In [21]:
#filling the null value with the median
emp_rm['loan_int_rate'].fillna(emp_rm['loan_int_rate'].median(),inplace=True)
emp_rm['loan_int_rate'].describe()

count    31671.000000
mean        11.035256
std          3.070364
min          5.420000
25%          8.490000
50%         10.990000
75%         13.160000
max         23.220000
Name: loan_int_rate, dtype: float64

In [22]:
#checking the count of null values
emp_rm.isnull().sum()

person_age                    0
person_income                 0
person_home_ownership         0
person_emp_length             0
loan_intent                   0
loan_grade                    0
loan_amnt                     0
loan_int_rate                 0
loan_status                   0
loan_percent_income           0
cb_person_default_on_file     0
cb_person_cred_hist_length    0
dtype: int64

In [23]:
#descriptive statistics of the data after the missing values treatment
emp_rm.describe()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length
count,31671.000000,3.167100e+04,31671.000000,31671.000000,31671.000000,31671.000000,31671.000000,31671.000000
mean,27.717754,6.649231e+04,4.780714,9660.637492,11.035256,0.215497,0.169621,5.804395
std,6.159859,5.277413e+04,4.028718,6334.716643,3.070364,0.411173,0.106275,4.048776
min,20.000000,4.000000e+03,0.000000,500.000000,5.420000,0.000000,0.000000,2.000000
25%,23.000000,3.936600e+04,2.000000,5000.000000,8.490000,0.000000,0.090000,3.000000
50%,26.000000,5.600000e+04,4.000000,8000.000000,10.990000,0.000000,0.150000,4.000000
75%,30.000000,8.000000e+04,7.000000,12500.000000,13.160000,0.000000,0.230000,8.000000
max,70.000000,2.039784e+06,38.000000,35000.000000,23.220000,1.000000,0.830000,30.000000

In [24]:
#count of dependent variable to predict the imbalance in data
emp_rm['loan_status'].value_counts()

loan_status
0    24846
1     6825
Name: count, dtype: int64

In [25]:
emp_rm.select_dtypes('object').columns

Index(['person_home_ownership', 'loan_intent', 'loan_grade',
       'cb_person_default_on_file'],
      dtype='object')

#getting the list of categorical variables and it's distribution
for col_name in emp_rm.select_dtypes('object').columns:
    print(emp_rm[col_name].value_counts().sort_values(ascending=False))
    print('****************')

In [26]:
#removing the loan_grade column since it is not significant
emp_drp = emp_rm.drop('loan_grade',axis=1)

In [27]:
#shape of the table after the removal of unwanted column
emp_drp.shape

(31671, 11)

### Categorical Features Treatment

In [29]:
emp_drp.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2

In [30]:
#resetting the index
emp_drp.reset_index(drop=True,inplace=True)

In [31]:
#checking the index after resetting the index
emp_drp.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2

In [32]:
#creating a copy of the data
emp_dummy = emp_drp.copy()
emp_dummy.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2

In [33]:
#Creating one hot one hot encoding for the categorical variables
person_home_ownership = pd.get_dummies(emp_dummy['person_home_ownership'],drop_first=True).astype(int)
loan_intent = pd.get_dummies(emp_dummy['loan_intent'],drop_first=True).astype(int)
emp_dummy['cb_person_default_on_file_binary'] = np.where(emp_dummy['cb_person_default_on_file']=='Y',1,0)
emp_dummy.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length,cb_person_default_on_file_binary
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2,0
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3,0
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2,0
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4,1
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2,0

In [34]:
person_home_ownership.head()

   OTHER  OWN  RENT
0      0    1     0
1      0    0     0
2      0    0     1
3      0    0     1
4      0    1     0

In [35]:
#dropping the column for which we have created 1 and 0 instead of N and Y
emp_dummy.drop(columns='cb_person_default_on_file',inplace=True)
emp_dummy

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,cb_person_default_on_file_binary
0,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,2,0
1,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,3,0
2,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,2,0
3,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,4,1
4,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,2,0
...,...,...,...,...,...,...,...,...,...,...,...
31666,57,53000,MORTGAGE,1.0,PERSONAL,5800,13.16,0,0.11,30,0
31667,54,120000,MORTGAGE,4.0,PERSONAL,17625,7.49,0,0.15,19,0
31668,65,76000,RENT,3.0,HOMEIMPROVEMENT,35000,10.99,1,0.46,28,0
31669,56,150000,MORTGAGE,5.0,PERSONAL,15000,11.48,0,0.10,26,0
31670,66,42000,RENT,2.0,MEDICAL,6475,9.99,0,0.15,30,0

In [36]:
#coumns to standardize
data_to_scale = emp_dummy.drop(columns=['person_home_ownership','loan_intent','loan_status','cb_person_default_on_file_binary'])
data_to_scale.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,21,9600,5.0,1000,11.14,0.10,2
1,25,9600,1.0,5500,12.87,0.57,3
2,23,65500,4.0,35000,15.23,0.53,2
3,24,54400,8.0,35000,14.27,0.55,4
4,21,9900,2.0,2500,7.14,0.25,2

In [37]:
#standardizing the values
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data_to_scale)
scaled_data

array([[-1.09058679, -1.07805103,  0.05443152, ...,  0.03411508,
        -0.655113  , -0.93965566],
       [-0.44121099, -1.07805103, -0.93845588, ...,  0.59757502,
         3.76746129, -0.69266353],
       [-0.76589889, -0.01880318, -0.19379033, ...,  1.36622557,
         3.39107199, -0.93965566],
       ...,
       [ 6.05254702,  0.18016109, -0.44201218, ..., -0.01473982,
         2.73239071,  5.48213962],
       [ 4.59145147,  1.58238543,  0.05443152, ...,  0.14485288,
        -0.655113  ,  4.98815537],
       [ 6.21489097, -0.46410415, -0.69023403, ..., -0.34043921,
        -0.18462637,  5.97612388]])

In [38]:
#to find the shape of the array after scaling
scaled_data.shape

(31671, 7)

In [39]:
data_to_scale.columns

Index(['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length'],
      dtype='object')

In [40]:
scaled_df = pd.DataFrame(scaled_data,columns=['person_age', 'person_income', 'person_emp_length', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length'])
scaled_df.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656

In [41]:
#check the shape of the dataset after the standardization
scaled_df.shape

(31671, 7)

In [42]:
#checking the mean (should be close to 0) and the std (should be close to 1) to confirm the values are scaled
print(round(scaled_df['person_age'].std(),0))
print(round(scaled_df['person_age'].mean(),0))

1.0
-0.0

In [43]:
#concatenating the requied columns (bringing in both scaled numerical columns and categorical columns
scaled_df_comb = pd.concat([scaled_df,person_home_ownership,loan_intent],axis=1)
scaled_df_comb.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1

In [44]:
scaled_df_comb.shape

(31671, 15)

In [45]:
#getting the binary column created 
scaled_df_comb['cb_person_default_on_file'] = emp_dummy['cb_person_default_on_file_binary']

In [46]:
scaled_df_comb.shape

(31671, 16)

In [47]:
scaled_df_comb.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0

In [48]:
#getting the dependent variable
scaled_df_comb['loan_status'] = emp_dummy['loan_status']
scaled_df_comb.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file,loan_status
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0,1
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0,1
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0,1

In [49]:
#shape of the output table created
scaled_df_comb.shape

(31671, 17)

In [50]:
#checking whether the data as imbalanced or balanced (It has to be either 50:50 or 60:40)
scaled_df_comb['loan_status'].value_counts()

loan_status
0    24846
1     6825
Name: count, dtype: int64

In [51]:
#handling imbalanced data
smote = SMOTE()

In [52]:
#getting the dependent and the independent variables separately
x = scaled_df_comb.drop(columns='loan_status')
y = scaled_df_comb['loan_status']

In [53]:
#checking the target variable
x.head()

,person_age,person_income,person_emp_length,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,OTHER,OWN,RENT,EDUCATION,HOMEIMPROVEMENT,MEDICAL,PERSONAL,VENTURE,cb_person_default_on_file
0,-1.090587,-1.078051,0.054432,-1.367192,0.034115,-0.655113,-0.939656,0,1,0,1,0,0,0,0,0
1,-0.441211,-1.078051,-0.938456,-0.656810,0.597575,3.767461,-0.692664,0,0,0,0,0,1,0,0,0
2,-0.765899,-0.018803,-0.193790,4.000141,1.366226,3.391072,-0.939656,0,0,1,0,0,1,0,0,0
3,-0.603555,-0.229137,0.799097,4.000141,1.053554,3.579267,-0.445671,0,0,1,0,0,1,0,0,1
4,-1.090587,-1.072366,-0.690234,-1.130398,-1.268682,0.756347,-0.939656,0,1,0,0,0,0,0,1,0

In [54]:
#checking the feature variable
y.head()

0    0
1    1
2    1
3    1
4    1
Name: loan_status, dtype: int64

In [55]:
#careting the over sampled output
x_smote, y_smote = smote.fit_resample(x,y)

In [56]:
#comparing the shapes before and after oversamopling - target variable
print(x.shape)
print(x_smote.shape)

(31671, 16)
(49692, 16)

In [57]:
#comparing the shapes before and after oversamopling - feature variable
print(y.shape)
print(y_smote.shape)

(31671,)
(49692,)

In [58]:
#checking the distribution of target variable class
y_smote.value_counts()

loan_status
0    24846
1    24846
Name: count, dtype: int64

In [121]:
#Model Training
y_smote.value_counts()

loan_status
0    24846
1    24846
Name: count, dtype: int64

In [125]:
balanced_target_df = pd.DataFrame(y_smote)
balanced_target_df.value_counts()

loan_status
0              24846
1              24846
Name: count, dtype: int64

In [137]:
x_train,x_test,y_train,y_test = train_test_split(x_smote,balanced_target_df,test_size=0.2,random_state=42)

In [155]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(39753, 16)
(9939, 16)
(39753, 1)
(9939, 1)

In [161]:
logit = LogisticRegression()

In [163]:
logit.fit(x_train,y_train)

LogisticRegression()

In [165]:
logit.score(x_train,y_train)

0.7821044952582195

In [169]:
logit_prediction = logit.predict(x_test)
logit_prediction

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [175]:
print(classification_report(y_test,logit_prediction))

              precision    recall  f1-score   support

           0       0.78      0.78      0.78      4995
           1       0.78      0.78      0.78      4944

    accuracy                           0.78      9939
   macro avg       0.78      0.78      0.78      9939
weighted avg       0.78      0.78      0.78      9939

In [193]:
print(logit.coef_[0])

[-0.06372251  0.06008689 -0.04417378 -0.66512686  0.99120247  1.39049846
  0.01012634 -0.80325345 -2.09754256  0.43477093 -1.23284792 -0.33322189
 -0.58951477 -1.00881191 -1.54232551  0.04669312]

In [195]:
feature_importance = pd.DataFrame({'Features':x_train.columns,'Importance':logit.coef_[0]})
feature_importance.sort_values(by='Importance',ascending=False)

                      Features  Importance
5          loan_percent_income    1.390498
4                loan_int_rate    0.991202
9                         RENT    0.434771
1                person_income    0.060087
15   cb_person_default_on_file    0.046693
6   cb_person_cred_hist_length    0.010126
2            person_emp_length   -0.044174
0                   person_age   -0.063723
11             HOMEIMPROVEMENT   -0.333222
12                     MEDICAL   -0.589515
3                    loan_amnt   -0.665127
7                        OTHER   -0.803253
13                    PERSONAL   -1.008812
10                   EDUCATION   -1.232848
14                     VENTURE   -1.542326
8                          OWN   -2.097543

In [199]:
#Random Forest

In [201]:
rf = RandomForestClassifier()

In [205]:
rf_fit = rf.fit(x_train,y_train)

In [211]:
rf.score(x_train,y_train)

1.0

In [213]:
rf_prediction = rf.predict(x_test)
rf_prediction

array([0, 0, 0, ..., 0, 0, 1], dtype=int64)

In [215]:
print(classification_report(y_test,rf_prediction))

              precision    recall  f1-score   support

           0       0.92      0.97      0.94      4995
           1       0.97      0.91      0.94      4944

    accuracy                           0.94      9939
   macro avg       0.94      0.94      0.94      9939
weighted avg       0.94      0.94      0.94      9939

In [219]:
rf.feature_importances_

array([0.06273405, 0.14263052, 0.07591051, 0.08035841, 0.20783406,
       0.2115605 , 0.0600815 , 0.00039329, 0.02034384, 0.04756297,
       0.01539308, 0.01671373, 0.00856362, 0.01310689, 0.01740359,
       0.01940944])

In [248]:
feature_importance_rf = pd.DataFrame({'Features_rf':x_train.columns,'Importance_rf':rf.feature_importances_})
feature_importance_rf.sort_values(by='Importance_rf',ascending=False)

                   Features_rf  Importance_rf
5          loan_percent_income       0.211560
4                loan_int_rate       0.207834
1                person_income       0.142631
3                    loan_amnt       0.080358
2            person_emp_length       0.075911
0                   person_age       0.062734
6   cb_person_cred_hist_length       0.060082
9                         RENT       0.047563
8                          OWN       0.020344
15   cb_person_default_on_file       0.019409
14                     VENTURE       0.017404
11             HOMEIMPROVEMENT       0.016714
10                   EDUCATION       0.015393
13                    PERSONAL       0.013107
12                     MEDICAL       0.008564
7                        OTHER       0.000393

## XG Boost

In [230]:
xgb_model = XGBClassifier(tree_method='exact')

In [232]:
xgb_model.fit(x_train,y_train.values.ravel())

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, device=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, feature_types=None,
              gamma=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=None, max_bin=None,
              max_cat_threshold=None, max_cat_to_onehot=None,
              max_delta_step=None, max_depth=None, max_leaves=None,
              min_child_weight=None, missing=nan, monotone_constraints=None,
              multi_strategy=None, n_estimators=None, n_jobs=None,
              num_parallel_tree=None, random_state=None, ...)

In [234]:
xgb_model.score(x_train,y_train.values.ravel())

0.9663170075214449

In [238]:
xgb_prediction = xgb_model.predict(x_test)
xgb_prediction

array([0, 0, 0, ..., 0, 0, 1])

In [240]:
print(classification_report(y_test,xgb_prediction))

              precision    recall  f1-score   support

           0       0.92      0.98      0.95      4995
           1       0.98      0.91      0.94      4944

    accuracy                           0.95      9939
   macro avg       0.95      0.95      0.95      9939
weighted avg       0.95      0.95      0.95      9939

In [250]:
feature_importance_xgb = pd.DataFrame({'Features_xgb':x_train.columns,'Importance_xgb':xgb_model.feature_importances_})
feature_importance_xgb.sort_values(by='Importance_xgb',ascending=False)

                  Features_xgb  Importance_xgb
8                          OWN        0.178394
5          loan_percent_income        0.128397
9                         RENT        0.108648
14                     VENTURE        0.094237
6   cb_person_cred_hist_length        0.077368
4                loan_int_rate        0.068111
11             HOMEIMPROVEMENT        0.063738
10                   EDUCATION        0.059678
2            person_emp_length        0.047924
13                    PERSONAL        0.042902
0                   person_age        0.038065
1                person_income        0.037910
15   cb_person_default_on_file        0.018358
12                     MEDICAL        0.015972
7                        OTHER        0.010246
3                    loan_amnt        0.010053

In [266]:
feature_imp_final = feature_importance.merge(feature_importance_rf,how='inner',left_on='Features',right_on='Features_rf') \
                                       .merge(feature_importance_xgb,how='inner',left_on='Features',right_on='Features_xgb') 
feature_imp_final.drop(['Features_rf','Features_xgb'],axis=1,inplace=True)

In [268]:
feature_imp_final

                      Features  Importance  Importance_rf  Importance_xgb
0                   person_age   -0.063723       0.062734        0.038065
1                person_income    0.060087       0.142631        0.037910
2            person_emp_length   -0.044174       0.075911        0.047924
3                    loan_amnt   -0.665127       0.080358        0.010053
4                loan_int_rate    0.991202       0.207834        0.068111
5          loan_percent_income    1.390498       0.211560        0.128397
6   cb_person_cred_hist_length    0.010126       0.060082        0.077368
7                        OTHER   -0.803253       0.000393        0.010246
8                          OWN   -2.097543       0.020344        0.178394
9                         RENT    0.434771       0.047563        0.108648
10                   EDUCATION   -1.232848       0.015393        0.059678
11             HOMEIMPROVEMENT   -0.333222       0.016714        0.063738
12                     MEDICAL   -0.589515       0.008564        0.015972
13                    PERSONAL   -1.008812       0.013107        0.042902
14                     VENTURE   -1.542326       0.017404        0.094237
15   cb_person_default_on_file    0.046693       0.019409        0.018358